In [2]:
import numpy as np
import pandas as pd

# Group By && Aggregation

### Group By

In [5]:
data = {
    'Category': ['A', 'B', 'A', 'B', 'A', 'B', 'A', 'B'],
    'Store': ['S1', 'S1', 'S2', 'S2', 'S2', 'S1', 'S2', 'S1'],
    'Sales': [100, 200, 150, 250, 120, 230, 100, 240],
    'Quantity': [10, 15, 12, 8, 17, 21, 14, 25],
    'Date': pd.date_range('2023-01-01', periods = 8)
}

df = pd.DataFrame(data)

In [6]:
df

  Category Store  Sales  Quantity       Date
0        A    S1    100        10 2023-01-01
1        B    S1    200        15 2023-01-02
2        A    S2    150        12 2023-01-03
3        B    S2    250         8 2023-01-04
4        A    S2    120        17 2023-01-05
5        B    S1    230        21 2023-01-06
6        A    S2    100        14 2023-01-07
7        B    S1    240        25 2023-01-08

In [8]:
# Grouping the data wrt category

cat = df.groupby('Category')

for i, j in cat:
    print(i)
    print(j)

A
  Category Store  Sales  Quantity       Date
0        A    S1    100        10 2023-01-01
2        A    S2    150        12 2023-01-03
4        A    S2    120        17 2023-01-05
6        A    S2    100        14 2023-01-07
B
  Category Store  Sales  Quantity       Date
1        B    S1    200        15 2023-01-02
3        B    S2    250         8 2023-01-04
5        B    S1    230        21 2023-01-06
7        B    S1    240        25 2023-01-08

In [11]:
# Grouping the data wrt store

cat = df.groupby('Store')

for i, j in cat:
    print(i)
    print(j)

S1
  Category Store  Sales  Quantity       Date
0        A    S1    100        10 2023-01-01
1        B    S1    200        15 2023-01-02
5        B    S1    230        21 2023-01-06
7        B    S1    240        25 2023-01-08
S2
  Category Store  Sales  Quantity       Date
2        A    S2    150        12 2023-01-03
3        B    S2    250         8 2023-01-04
4        A    S2    120        17 2023-01-05
6        A    S2    100        14 2023-01-07

In [9]:
# Group Sum of total sales on the basis of category
cat = df.groupby('Category')['Sales'].sum()
cat

Category
A    470
B    920
Name: Sales, dtype: int64

In [10]:
# Group Sum of total sales on the basis of store
cat = df.groupby('Store')['Sales'].sum()
cat

Store
S1    770
S2    620
Name: Sales, dtype: int64

In [12]:
# Group Sum of total sales on the basis of category as well as store
cat = df.groupby(['Category', 'Store'])['Sales'].sum()
cat

Category  Store
A         S1       100
          S2       370
B         S1       670
          S2       250
Name: Sales, dtype: int64

### Aggregation

- Mean
- Median
- Sum
- Standart deviation
- Maximum
- Minimum
- Count
- Mode

In [14]:
df['Sales'].mean()

173.75

In [15]:
df['Sales'].median()

175.0

In [16]:
df['Sales'].mode()

0    100
Name: Sales, dtype: int64

In [17]:
df['Sales'].sum()

1390

In [18]:
df['Sales'].min()

100

In [19]:
df['Sales'].max()

250

In [20]:
df['Sales'].std()

63.68168608679534

In [21]:
df['Sales'].count()

8

In [ ]:
# for whole aggregations in list (do not include mode as it is categorical element)
df['Sales'].agg(['mean', 'median', 'std', 'min', 'max', 'count', 'sum'])

mean       173.750000
median     175.000000
std         63.681686
min        100.000000
max        250.000000
count        8.000000
sum       1390.000000
Name: Sales, dtype: float64